{% if basket__item__title %}{% else %}
  {% assign basket__item__title   = 'Lorem ipsum' %}
{% endif %}
{% if basket__item__handle %}{% else %}
  {% assign basket__item__handle  = 'black-wheelie-bin' %}
{% endif %}
{% if basket__item__title %}{% else %}
  {% assign basket__item__info    = 'Lorem ipsum dolor set elit nullum.' %}
{% endif %}
{% if basket__item--shadow %}
  {% assign basket__item--shadow  = 'basket__item--shadow' %}
{% endif %}

<fieldset class="basket__item {{ basket__item--shadow }}">

  <legend class="visuallyhidden">{{ basket__item__title }}</legend>

  <div class="grid-wrap">

      <!-- @TODO: Should be five-fifths. Remove JS. -->
      <div class="grid-col desktop-grid-full-width">

      <div class="basket__item__description">
        <h4 class="basket__item__title">{{ basket__item__title }}</h4>
        <div class="basket__item__image">
          <img src="/ui/images/waste/{{ basket__item__handle }}.png" alt="{{ basket__item__title }}" />
        </div><!--/basket__item__image-->
        <div class="basket__item__info">
          {{basket__item__info}}
        </div><!--/basket__item__info-->
      </div><!--/basket__item__description-->

    </div><!--/grid-col-->

  </div><!--/grid-wrap-->

</fieldset><!--/basket__item-->
